.activity_types {
        background-color: #ddd;
    body {
        font-family: arial;
        font-size: 15px;
        font-weight: 10px;
        line-height: 15px;
    }

    h1 {
        color: #333;
        font-size: 50px;
        text-align: center;
    }

    thead {
        font-size: 20px;
        line-height: 20px;
    }

    tbody {
        font-size: 15px;
        line-height: 20px;
    }

    .fundo_cinza {
        background-color: #ddd;
    }
}