// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titulo {
	color: white;
	font-style: monospace;
	font-weight: normal;
	height: 50px;
	background-color: #002f67;
	padding-top: 10px;
	padding-left: 5px;
}																																																																																																																																																																																																																																																																																																																								

.tabelajobs{
	border-width: 2px;
	border-color: red;
	background-color: white;
	border: solid;
	border-radius: 8px;
	margin-left: 5px;
}

#all {
	margin: -8px;
	background-color: #5BBF21;
	min-height: 100%;
	width: 100%;
	position: absolute;
}

#botao{
	height: 20px;
	width: 20px;
	background-color: #002f67;
	border: solid;
	border-radius: 15px;
	border-width: thin;
	border-color: #002f67;
	font-color: white;
}