// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.titulo {
	color: white;
	font-style: monospace;
	font-weight: normal;
	height: 50px;
	background-color: #002f67;
	padding-top: 10px;
	padding-left: 5px;
}																																																																																																																																																																																																																																																																																																																								

.tabelajobs{
	border-width: 2px;
	border-color: red;
	background-color: white;
	border: solid;
	border-radius: 8px;
	margin-left: 5px;
}

#all {
	margin: -8px;
	background-color: #5BBF21;
	min-height: 100%;
	width: 100%;
	position: absolute;
}
*/

#all{
	font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
	background-color: #CDCCFD;
	width: 100%;
	position: absolute;
	min-height:100%;
	margin: -8px;
}

#content{
	margin: auto;
	margin-top: 9%;
	width: 60%;
	border: 3px solid #73AD21;
	border-radius: 10px;
	padding: 15px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}


#botao{
	/*height: 20px;
	width: 20px;
	background-color: #002f67;
	border: solid;
	border-radius: 15px;
	border-width: thin;
	border-color: #002f67;
	font-color: white;*/
	background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     border: 1px solid #CCCCCE;
     border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #616165;
     
     font-family: "Trebuchet MS";
     font-size: 14px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 15px;
     position: relative;
     width: 80px;
}

.botao01:before{
	border: 1px solid #FFF;
	border-radius: 3px;
	box-shadow: inset 0 -2px 12px -4px rgba(70, 70, 70, .2),
	            inset 0 3px 2px -1px rgba(255, 255, 255, 1);
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	padding: 5px;
	position: absolute;
}

#nav_bar{
	height: 60px;
	max-width: 100%;
	background-color: #002F67;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 5px solid #ecebeb;
}

.titulo{
	color: white;
}